#btn-click{
    margin-top:50px;
    margin-left:150px;
    padding-left:20px;
    padding-right:20px;
    padding:6px;
    border:none;
    background-color:rgb(51, 18, 215);
    color:white;
    font-family:Cambria, Cock;
    font-size:small;
    border-radius:5px;

}

