h1 {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.container img {
  max-width: 100%;
  height: auto;
}

/* Media Query for smaller screens (e.g., tablets) */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Media Query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
