<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="container">
        
        <h1>Login</h1>

        <form>
            <label for="username">Username</label><br>
            <input type="text" id="username" placeholder="Enter Username" required><br><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" placeholder="Enter Password" required><br><br>

            <button id="btn-click" type="submit">Submit</button>

            <div class="toggle-btns"><br>
                <p>Don't have an account?</p>
                <a href="sign.html">Sign Up</a>
            </div>
        </form>

    </div>

</body>
</html>
