body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;         
}


.signup-container {
    width: 420px;
    background:rgb(196, 195, 195);;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}


.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}


input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74,144,226,0.4);
}


button {
    width: 99%;
    padding: 12px;
    margin-top: 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #357ABD;
}
